.navbar-wrapper {
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.logo{
  margin: auto;
  margin-top: 5%;
}

.topBar-container{
  width: 100vw;
  height: 10vh;
  text-align: center;
  padding-left: 25%;
  overflow: hidden;
  position: fixed;
  bottom: 100;
  width: 100%;
  
}
.fixed-bottom{
  text-align: justify;
}

.fixed-top{
  text-align: justify;
}


.nav-icons {
  color: #555B92;
  font-size: 20px;
  /* padding-left: 32px;
  padding-right: 7px; */
}

.nav-icon-active{
  color: #E8D258;
}

.nav-icons :hover {
  color: #E8D258;
}

.flecha{
  position: fixed;
  left: 0;
}